{# templates/macros.html #}

{% macro match_grid(event_rank, matches, team, match_type, ccwms=None, oprs=None, dprs=None) %}
<div class="navbar" style="display:inline-block;width:100%">
    <span style="vertical-align: middle;float:left;width: 33.333%;text-align:left" class="navbar-brand">
        {{ match_type }} Matches
    </span>
    <span style="vertical-align: middle;float:left;width: 33.333%;text-align:center" class="navbar-brand">
    {% if ccwms != None or oprs != None or dprs != None %}
        CCWMS: {{ ccwms }} &nbsp;&nbsp; OPRS: {{ oprs }} &nbsp;&nbsp; DPRS: {{ dprs }}
    {% else %} 
        &nbsp;
    {% endif %}
    </span>

    {% if event_rank != None %}
    <span style="vertical-align: middle;float:left;width: 33.333%;text-align:right" class="navbar-brand">
        Rank: {{ event_rank["rank"] }} &nbsp;&nbsp; Record: {{event_rank["wins"]}} - {{event_rank["losses"]}} - {{event_rank["ties"]}}
    </span>
    {% endif %}
</div>
<table class="match-table">
    <thead>
        <tr>
            <th colspan="1">Match</th>
            <th colspan="3">Red Alliance</th>
            <th>Score</th>
            <th colspan="3">Blue Alliance</th>
            <th>Score</th>
            <!-- <th>Alliance</th> -->
            <th>W/L/T</th>
        </tr>
    </thead>
    <tbody>
        {% for match in matches %}
            {% set redScore =  match["scoreRedFinal"] | int %}
            {% set bluScore =  match["scoreBlueFinal"] | int %}
            {% if redScore == 0 or bluScore == 0 %}
                {% set winner = '' %}
                {% set redwin = "" %}
                {% set bluewin = "" %}
            {% elif redScore == bluScore %}
                {% set winner = "Tie" %}
                {% set redwin = "" %}
                {% set bluewin = "" %}
            {% elif redScore > bluScore %}
                {% set winner = "Red" %}
                {% set redwin = "winner" %}
                {% set bluewin = "" %}
            {% else %}
                {% set winner = "Blue" %}
                {% set redwin = "" %}
                {% set bluewin = "winner" %}
            {% endif %}   
            {% set teamPos = (match["teams"]| selectattr("teamNumber","equalto",team["teamNumber"])|list)[0]['station'] %}
            {% set alliance = teamPos[:-1] %}
            {% set position = teamPos[-1:] %}
            {% if (alliance == winner) %}
                {% set outcome = "W" %}
            {% elif winner == "Tie" %}
                {% set outcome = "T" %}
            {% elif winner == '' %}
                {% set outcome = '' %}
            {% else %}
                {% set outcome = "L" %}
            {% endif %}
            {% if alliance == "Red" %} 
                {% set teamScore = redScore %}
            {% else %}
                {% set teamScore = bluScore %}
            {% endif %}
            <tr>
                <td class='{{alliance.lower()}}'>{{ match["matchNumber"] }}</td>
                {{ match_alliance(match["teams"][0:3], team) }}
                <td class='red {{redwin.lower()}}'>{{ redScore }}</td>
                {{ match_alliance(match["teams"][3:], team) }}
                <td class='blue {{bluewin.lower()}}'>{{ bluScore }}</td>
                <!-- <td style="text-align:right">{{ alliance }} {{ position }} </td> -->
                <td>{{ outcome }} - {{ teamScore }}</td>
            </tr>
            {% else %}
            <tr>
                <td>
                    No Matches Found
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}
{% macro match_alliance(match_teams, team) %}
    {% for match_team in match_teams %}
        {% set alliance_color = match_team['station'][:-1].lower() %}
        {% if match_team['teamNumber'] == team['teamNumber'] %} 
            <td class='{{ alliance_color }} current-team'>{{ match_team["teamNumber"] }}</td>
        {% else %}
            <td class='{{ alliance_color }}'>{{ match_team["teamNumber"] }}</td>
        {% endif %}
    {% endfor %}

{% endmacro %}
