{# templates/macros.html #}

{% macro match_grid(season, event, team, stats, matches, match_type) %}
<div class="navbar">
    <span style="vertical-align: middle;float:left;text-align:left" class="navbar-brand">
        {{ match_type }} Matches
    </span>
    {% if stats != None %}
    <span style="vertical-align: middle;float:right;text-align:right" class="navbar-brand">
        Rank: {{ stats["rank"] }} &nbsp;&nbsp; Record: {{stats["wins"]}} - {{stats["losses"]}} - {{stats["ties"]}}
    </span>
    {% endif %}
</div>
<table class="match-table">
    <thead>
        <tr>
            <th>Match</th>
            <th colspan="3">Red Alliance</th>
            <th>Score</th>
            <th colspan="3">Blue Alliance</th>
            <th>Score</th>
            <!-- <th>Alliance</th> -->
            <th>Win/Loss/Tie</th>
        </tr>
    </thead>
    <tbody>
        {% for match in matches %}
            {% set redScore =  match["scoreRedFinal"] | int %}
            {% set bluScore =  match["scoreBlueFinal"] | int %}
            {% if redScore == 0 or bluScore == 0 %}
                {% set winner = '' %}
                {% set redwin = "" %}
                {% set bluewin = "" %}
            {% elif redScore == bluScore %}
                {% set winner = "Tie" %}
                {% set redwin = "" %}
                {% set bluewin = "" %}
            {% elif redScore > bluScore %}
                {% set winner = "Red" %}
                {% set redwin = "winner" %}
                {% set bluewin = "" %}
            {% else %}
                {% set winner = "Blue" %}
                {% set redwin = "" %}
                {% set bluewin = "winner" %}
            {% endif %}   
            {% set teamPos = (match["teams"]| selectattr("teamNumber","equalto",team["number"]|int)|list)[0]['station'] %}
            {% set alliance = teamPos[:-1] %}
            {% set position = teamPos[-1:] %}
            {% if (alliance == winner) %}
                {% set outcome = "W" %}
            {% elif winner == "Tie" %}
                {% set outcome = "T" %}
            {% elif winner == '' %}
                {% set outcome = '' %}
            {% else %}
                {% set outcome = "L" %}
            {% endif %}
            {% if alliance == "Red" %} 
                {% set teamScore = redScore %}
            {% else %}
                {% set teamScore = bluScore %}
            {% endif %}
            {% if match_type == "Qualification" %}
                {% set tbaUrl = season|string + event["code"] +"_qm" + match['matchNumber']|string %}
            {% else %}
                {% set tbaUrl = season|string + event["code"] +"_sf" + match['matchNumber']|string %}
            {% endif %}
            <tr>
                <td class='{{alliance.lower()}}'>{{ match["matchNumber"] }}</td>
                {{ match_alliance(match["teams"][0:3], team) }}
                <td class='score {{redwin.lower()}}'>{{ redScore }}</td>
                {{ match_alliance(match["teams"][3:], team) }}
                <td class='score {{bluewin.lower()}}'>{{ bluScore }}</td>
            {% if teamScore == 0 %}
                {% set matchTime = match["autoStartTime"][11:16] %}
                <!-- <td style="text-align:right">{{ alliance }} {{ position }} </td> -->
                <td><a href="https://www.thebluealliance.com/match/{{tbaUrl.lower()}}">{{ matchTime }}</a></td>
            {% else %}
                <!-- <td style="text-align:right">{{ alliance }} {{ position }} </td> -->
                <td><a href="https://www.thebluealliance.com/match/{{tbaUrl.lower()}}">{{ outcome }} - {{ teamScore }}</a></td>
            {% endif %}
            </tr>
            {% else %}
            <tr>
                <td>
                    No Matches Found
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}


{% macro match_alliance(match_teams, team) %}
    {% for match_team in match_teams %}
        {% set alliance_color = match_team['station'][:-1].lower() %}
        {% if match_team['teamNumber'] == team['number']|int  %} 
            <td class='{{ alliance_color }} current-team'>{{ match_team["teamNumber"] }}</td>
        {% else %}
            <td class='{{ alliance_color }}'>{{ match_team["teamNumber"] }}</td>
        {% endif %}
    {% endfor %}

{% endmacro %}
