.navbar {
  background: #ced3dc;
  font-size: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  padding: 8px 5px 8px 5px;
  height: 20px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar-brand {
  font-size: 1.2em;
  font-weight: 600;
}

.navbar-item {
  font-variant: small-caps;
  margin-left: 30px;
}

.body-content {
  padding: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table.match-table,
table.oprTable {
  padding: 3px 0;
  margin: 0 0 .25em 0;
  width: 100%;
  margin-left: auto;
  background-color: whitesmoke;
}

table.match-table tr,
table.oprTable tr {
  padding: 0;
}

table.match-table tr.key,
table.oprTable tr.key {
  background-color: #f0f0f0;
}

table.match-table th,
table.oprTable th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle !important;
  padding: 3px;
}

table.match-table td,
table.oprTable td {
  text-align: center;
  vertical-align: middle !important;
  padding: 3px;
  color: whitesmoke;
}
 
table.match-table td.red {
  background: #d1495b;
}

table.match-table td.blue {
  background:#2c7da0;
}

table.match-table td.score {
  background:#5f696d;
}

table.match-table td.red-favorite {
  border: 2px solid #ff0000;
}

table.match-table td.blue-favorite {
  border: 2px solid #0000ff;
}

table.match-table td.redScore {
  background-color: #ffdddd;
}

table.match-table td.blueScore {
  background-color: #ddddff;
}

table.match-table .winner {
  font-weight: bold;
}

#double-elim-bracket-table>tr:has(td.winner) {
  font-weight: bold;
}

table.match-table td.current-team {
  text-decoration: underline;
  font-size: 1.1em;
  font-weight: bold;
}

table.match-table .compact-row {
  border-top: 1px double #000000;
}

table.match-table td.icon,
table.match-table th.icon {
  margin: 0;
  padding: 3px 0 0 0;
  font-size: .5em;
}

table.match-table td.win {
  background-color: #90ee90;
}

table.match-table td.lose {
  background-color: #f08080;
}

table.match-table td.tie {
  background-color: #d3d3d3;
}

table td {
  position: relative;
}

table.match-table .favorite-team-dot {
  display: none;
  position: absolute;
  top: 3px;
  right: 3px;
  height: 5px;
  width: 5px;
}

table.match-table .top-left-dot {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 4px;
  width: 4px;
}

table.match-table .top-left-dot-2 {
  position: absolute;
  top: 3px;
  left: 10px;
  height: 4px;
  width: 4px;
}

table.match-table .tooltip-inner {
  width: 130px;
}

table.match-table .surrogate {
  border-bottom: 1px dotted;
}

table.match-table .dq {
  text-decoration: line-through;
}